﻿<html>
<head>
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div id="body">
        <section class="featured">
            <div class="content-wrapper">

            </div>
        </section>
        <section class="content-wrapper main-content clear-fix">

            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary();
                <ol class="round">
                    <li>
                        <input type="file" id="fileToUpload" name="file" />
                        <span class="field-validation-error" id="spanfile"></span>
                    </li>
                </ol>
                <input type="submit" id="btnSubmit" value="Upload" />
            }
            <div>
             
            </div>

        </section>
        <table>
            <tr>
                <td><input type="button" value="Remove All" data-bind="click: $root.remove" /></td>
            </tr>
        </table>
        <table>
            <thead>
                <tr>

                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>                

                </tr>
            </thead>
            <tbody data-bind="foreach: users">
                <tr>
                    <td data-bind="text: $data.FirstName"></td>
                    <td data-bind="text: $data.LastName"></td>
                    <td data-bind="text: $data.Address"></td>
                   
                </tr>
            </tbody>

        </table>
    </div>

</body>
</html>
@section scripts
{
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/App/UsersViewModel.js"></script>
}
